{{template "header.html"}}
    <body>
        {{template "navbar.html"}}
        <main role="main" class="container">
            <div class="starter-template">
                <h1>Welcome to GopherCode</h1>
                <a class="btn btn-outline-primary" href="/editor" role="button">Get Started</a>
                <a class="btn btn-outline-secondary" href="/info" role="button">Learn More</a>
            </div>
        </main><!-- /.container -->

<!-- end body tag in tmpl/footer.html-->
{{template "footer.html"}}